h1,
p {
  color: $primary-color;
}

.max-bound {
  margin: 0 auto;
}

.home__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__hero-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home__hero-info__wrapper {
  box-sizing: border-box;
  width: 50%;
  padding-right: rem(800);
  text-align: left;
}

.home__hero-image__wrapper {
  position: relative;
  width: 40%;
  height: 0;
  padding-top: 40%;
}

.home__hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //background-image: url('../assets/ed1.jpg');
}
